

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.hero-unit .thumbnail {margin-right: 2%; min-width: 180px; width: 20%;}
.hero-unit {background-color: #b2bdcf;}

.nav-header {color: #002855;}















